.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.header {
  text-align: center;
  font-size: 40px;
}

.input-box {
  display: flex;
  justify-content: center;
  height: 35px;
  margin: 6px;
}

.input-box label {
  font-size: 22px;
  font-weight: 600;
  line-height: 35px;
  color: #555;
  width: 100px;
}

.input-box input {
  width: 300px;
  font-size: 17px;
  font-weight: 600;
  border: 1.3px solid #aaa;
  border-radius: 3px;
  padding-left: 8px;
}
